@import "themes";

.container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: stretch;
	}

	.user-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		padding: 1rem;
		border-radius: 0.5rem;

		@include themify() {
			background-color: #CCCCCC;
		}

		img {
			width: 8rem;
		}

		h3, h4 {
			margin-bottom: 0;
			text-align: center;
		}
	}

	.account-settings {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1rem;
		flex: 1;

		.setting {
			height: 5rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 50rem;
			width: 100%;

			div {
				h3 {
					margin: 0;
				}

				p {
					margin: 0;
					font-size: 10pt;
					@include themify() {
						@if(isTheme('dark')) {
							color: darken(themed('text-primary'), 50);
						} @else {
							color: lighten(themed('text-primary'), 50);
						}
					}
				}
			}
		}
	}
}
