<div class="container" *ngIf="userInfo$ | async as userInfo">
	<div class="user-info">
		<img [src]="'/api/images/profile/' + userInfo.user.profile_image">
		<div>
			<h3>{{userInfo.user.username}}</h3>
			<h4>{{userInfo.user.email}}</h4>
		</div>
	</div>
	<br>

	<div class="account-settings" *ngIf="userInfo$ | async as userInfo">
		<div class="setting">
			<div>
				<h3>Username</h3>
				<p>{{userInfo.user.username}}</p>
			</div>
			<button class="btn-primary" (click)="openUsernameChangeDialog()">CHANGE</button>
		</div>
		<hr>
		<div class="setting">
			<div>
				<h3>Password</h3>
			</div>
			<button class="btn-primary" (click)="openPasswordChangeDialog()">CHANGE</button>
		</div>
		<hr>
		<div class="setting">
			<div>
				<h3>Avatar</h3>
			</div>
			<button class="btn-primary" (click)="openPictureChangeDialog()">CHANGE</button>
		</div>
	</div>
</div>
