<header>
	<div (click)="settingsDropdown = false;" *ngIf="settingsDropdown" class="background"></div>

	<div class="left">
		<img class="burger-menu" (click)="switchBurgerMenu()" src="assets/icons/light/menu.svg" alt="burger menu open">
		<a routerLink="/" class="logo">
			<img alt="Logigator" src="/assets/logo.svg">
		</a>

		<div class="links">
			<div routerLink="/features">{{'OPTIONS.FEATURES' | translate}}</div>
		</div>
	</div>

	<div class="right">
		<ng-container *ngIf="isLoggedIn && (userInfo | async) as userInfo">
			<div (click)="settingsDropdown = !settingsDropdown" class="userspace">
				<a class="username">{{userInfo.user.username}}</a>
				<img class="user-img" alt="User image" [src]="userInfo.user.profile_image">
			</div>
		</ng-container>
		<ng-container *ngIf="!isLoggedIn || (userInfo | async) === undefined">
			<div>
				<button class="btn-outline secondary btn-login" (click)="loginEmail()">{{'OPTIONS.LOGIN' | translate}}</button>
				<button class="btn-outline secondary btn-login" (click)="registerEmail()">{{'OPTIONS.REGISTER' | translate}}</button>
				<div class="more" (click)="settingsDropdown = !settingsDropdown"></div>
			</div>
		</ng-container>
		<app-settings-dropdown *ngIf="settingsDropdown" (requestClosed)="settingsDropdown = false;"></app-settings-dropdown>
	</div>
</header>
