<header>
	<img class="burger-menu" (click)="switchBurgerMenu()" src="assets/icons/light/selection1.svg">

	<a routerLink="/" class="logo"><img alt="Logigator" src="/assets/logo.svg"></a>

	<div class="login">
		<ng-container *ngIf="isLoggedIn">
			<button class="btn-outline secondary btn-login" routerLink="/my">USERSPACE</button>
			<button class="btn-outline secondary btn-login" (click)="logout()">LOGOUT</button>
		</ng-container>
		<ng-container *ngIf="!isLoggedIn">
			<button class="btn-outline secondary btn-login" (click)="loginEmail()">LOGIN</button>
			<button class="btn-outline secondary btn-login" (click)="registerEmail()">REGISTER</button>
		</ng-container>
	</div>
</header>


