@import "themes";
@import "variables";

header{
	width: 100%;
	height: $header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	position: fixed;
	z-index: 100;
	padding: 0.5rem;

	@include themify() {
		background-color: themed('primary');
	}

	a {
		text-decoration: none;
		@include themify() {
			color: themed('text-primary');
			&:hover {
				color: themed('hover');
			}
		}
	}

	.logo {
		height: 100%;

		img {
			height: 100%;
		}
	}
}
