<div class="examples-area">
	<div class="examples">
		<div class="back"></div>
		<div class="forward"></div>
		<ng-container *ngIf="userProjects$ | async as projects">
			<div class="slider">
				<ng-container *ngFor="let project of projects">
					<div class="project">
						<div class="tile">
							<img class="preview" src="/assets/icons/light/selection1.svg">
						</div>
						<h4 class="title">{{project.name}}</h4>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>
	<h3>Ein paar Beispielschaltungen zum ausprobieren...</h3>
</div>




