<div class="imprint">
	<h1>{{'IMPRINT.HEAD' | translate}}</h1>
    <p>{{'IMPRINT.INFORMATION_OBLIGATION' | translate}}</p>
    <p>Stefan Mikulik</p>
    <p>{{'IMPRINT.COLLEGE' | translate}},<br>Rennweg 89b,<br>1030 {{'IMPRINT.VIENNA' | translate}},<br>{{'IMPRINT.AUSTRIA' | translate}}</p>
    <p><strong>E-Mail:</strong>&nbsp;<a href="mailto:business@logigator.com">business@logigator.com</a></p>
    <p>{{'IMPRINT.SOURCE_1' | translate}}&nbsp;<a rel="noreferrer noopener" href="https://www.firmenwebseiten.at/impressum-generator/" target="_blank">firmenwebseiten.at</a>&nbsp;{{'IMPRINT.SOURCE_2' | translate}}&nbsp;<a rel="noreferrer noopener" href="https://www.movetec.at/" target="_blank">movetec.at</a></p>
    <h3>{{'IMPRINT.CONTENTS_HEAD' | translate}}</h3>
    <p>{{'IMPRINT.CONTENTS_1' | translate}}</p>
    <p>{{'IMPRINT.CONTENTS_2' | translate}}</p>
    <h3>{{'IMPRINT.LINKS_HEAD' | translate}}</h3>
    <p>{{'IMPRINT.LINKS_1' | translate}}&nbsp;<a href="https://www.ris.bka.gv.at/Dokument.wxe?Abfrage=Bundesnormen&amp;Dokumentnummer=NOR40025813&amp;tid=221100654" target="_blank" rel="noreferrer noopener">§ 17 ECG</a>&nbsp;{{'IMPRINT.LINKS_1_1' | translate}}</p>
    <p>{{'IMPRINT.LINKS_2' | translate}}</p>
    <h3>{{'IMPRINT.COPYRIGHT_HEAD' | translate}}</h3>
	<div>{{'IMPRINT.COPYRIGHT_1' | translate}} <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>, <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a>  {{'IMPRINT.COPYRIGHT_1_1' | translate}} <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <p>{{'IMPRINT.COPYRIGHT_2' | translate}}</p>
</div>
