app-user-space {
	> div {
		display: flex;
		flex-direction: row;

		> app-drawer {
			min-width: 20rem;
		}

		> :last-child {
			flex-grow: 1;
		}

		@media (max-width: 600px) {
			flex-direction: column;

			> app-drawer {
				margin-right: 0;
				margin-bottom: 1rem;
				width: 100%;
			}
		}
	}
}
