<div class="burger-menu" [class.show]="getOpen">
	<div class="top">
		<a class="entry" routerLink="features" (click)="setOpen(false)">
			<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/archive.svg" alt="Features Link">
			<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/archive.svg" alt="Features Link">
			<p>{{'OPTIONS.FEATURES' | translate}}</p>
		</a>
		<ng-container *ngIf="isLoggedIn">
			<a class="entry" routerLink="my/projects" (click)="setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/archive.svg" alt="my Projects Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/archive.svg" alt="my Projects Link">
				<p>{{'OPTIONS.PROJECTS' | translate}}</p>
			</a>
			<a class="entry" routerLink="my/components" (click)="setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/archive.svg" alt="my Components Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/archive.svg" alt="my Components Link">
				<p>{{'OPTIONS.COMPONENTS' | translate}}</p>
			</a>
		</ng-container>
	</div>
	<div class="bottom">
		<div class="entry">
			<select [(ngModel)]="currentLang" (ngModelChange)="languageChange()">
				<option value="en">{{'LANGUAGE.EN' | translate}}</option>
				<option value="de">{{'LANGUAGE.DE' | translate}}</option>
			</select>
			<a>{{'OPTIONS.LANGUAGE' | translate}}</a>
		</div>
		<div class="entry">
			<logi-switch [checked]="this.theming.currentTheme === 'dark'" (click)="changeTheme()"></logi-switch>
			<p>{{'OPTIONS.DARK_MODE' | translate}}</p>
		</div>
		<ng-container *ngIf="isLoggedIn">
			<a class="entry" routerLink="my/settings" (click)="setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/user.svg" alt="Settings Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/user.svg" alt="Settings Link">
				<a>{{'OPTIONS.ACCOUNT' | translate}}</a>
			</a>
			<a class="entry" (click)="logout(); setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/logout.svg" alt="Logout Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/logout.svg" alt="Logout Link">
				<a>{{'OPTIONS.LOGOUT' | translate}}</a>
			</a>
		</ng-container>
		<ng-container *ngIf="!isLoggedIn">
			<a class="entry" (click)="loginEmail(); setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/login.svg" alt="Login Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/login.svg" alt="Login Link">
				<a>{{'OPTIONS.LOGIN' | translate}}</a>
			</a>
			<a class="entry" (click)="registerEmail(); setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/pencil-alt.svg" alt="Register Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/pencil-alt.svg" alt="Register Link">
				<a>{{'OPTIONS.REGISTER' | translate}}</a>
			</a>
			<a class="entry" (click)="loginGoogle(); setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/google.svg" alt="Google Login Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/google.svg" alt="Google Login Link">
				<a>{{'OPTIONS.LOGIN_GOOGLE' | translate}}</a>
			</a>
			<a class="entry" (click)="loginTwitter(); setOpen(false)">
				<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/twitter.svg" alt="Twitter Login Link">
				<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/twitter.svg" alt="Twitter Login Link">
				<a>{{'OPTIONS.LOGIN_TWITTER' | translate}}</a>
			</a>
		</ng-container>
	</div>
</div>
<div class="hamburger-background" [class.show]="getOpen" (click)="setOpen(false)"></div>
