<svg class="part-1">
	<!-- Links oben & Strich nach oben  -->
	<line x1="6.5%" y1="0" x2="6.5%" y2="4%"></line>
	<line x1="8.5%" y1="0" x2="8.5%" y2="4%"></line>
	<line x1="6.5%" y1="2%" x2="91.5%" y2="2%"></line>

	<rect x="5.625%" y="4%" width="3.75%" height="3%"></rect>
	<line x1="7.5%" y1="7%" x2="7.5%" y2="30%"></line>

	<line x1="91.5%" y1="2%" x2="91.5%" y2="8%"></line>
	<line x1="93.5%" y1="0" x2="93.5%" y2="8%"></line>
	<rect x="90.625%" y="8%" width="3.75%" height="3%"></rect>
	<line x1="92.5%" y1="11%" x2="92.5%" y2="20%"></line>

	<line x1="86.5%" y1="15%" x2="86.5%" y2="13%"></line>
	<line x1="88.5%" y1="13.8%" x2="92.5%" y2="13.8%"></line>
	<line x1="88.5%" y1="15%" x2="88.5%" y2="13.8%"></line>
	<line x1="86.5%" y1="13%" x2="100%" y2="13%"></line>
	<rect x="85.625%" y="15%" width="3.75%" height="3%"></rect>
	<line x1="87.5%" y1="18%" x2="87.5%" y2="20%"></line>
	<line x1="9.5%" y1="20%" x2="87.5%" y2="20%"></line>
	<line x1="94.5%" y1="13%" x2="94.5%" y2="20%"></line>

	<rect x="91.625%" y="20%" width="3.75%" height="3%"></rect>
	<line x1="93.5%" y1="23%" x2="93.5%" y2="32%"></line>
	<rect x="91.625%" y="32%" width="3.75%" height="3%"></rect>
	<line x1="0" y1="40%" x2="100%" y2="40%"></line>

	<line x1="9.5%" y1="20%" x2="9.5%" y2="30%"></line>
	<rect x="6.625%" y="30%" width="3.75%" height="3%"></rect>
	<line x1="8.5%" y1="33%" x2="8.5%" y2="40%"></line>

</svg>


