<svg>
	<!--	STEP 1-->
	<line class="step-1" x1="6.5%" y1="0" x2="6.5%" y2="4%"></line>
	<line class="step-1" x1="8.5%" y1="0" x2="8.5%" y2="4%"></line>
	<line class="step-1" x1="6.5%" y1="2%" x2="91.5%" y2="2%"></line>
	<rect class="step-1" x="5.625%" y="4%" width="3.75%" height="3%"></rect>
	<text x="7.5%" y="5.5%">&</text>

	<line class="step-1" x1="91.5%" y1="2%" x2="91.5%" y2="8%"></line>
	<line class="step-1" x1="93.5%" y1="0" x2="93.5%" y2="8%"></line>
	<rect class="step-1" x="90.625%" y="8%" width="3.75%" height="3%"></rect>
	<text x="92.5%" y="9.5%">=1</text>

	<!--	STEP 2-->
	<line class="step-2" x1="86.5%" y1="15%" x2="86.5%" y2="13%"></line>
	<line class="step-2" x1="88.5%" y1="13.8%" x2="92.5%" y2="13.8%"></line>
	<line class="step-2" x1="88.5%" y1="15%" x2="88.5%" y2="13.8%"></line>
	<line class="step-2" x1="86.5%" y1="13%" x2="100%" y2="13%"></line>
	<rect class="step-2" x="85.625%" y="15%" width="3.75%" height="3%"></rect>
	<text x="87.5%" y="16.5%">&</text>

	<line class="step-2" x1="92.5%" y1="11%" x2="92.5%" y2="20%"></line>
	<line class="step-2" x1="94.5%" y1="13%" x2="94.5%" y2="20%"></line>
	<rect class="step-2" x="91.625%" y="20%" width="3.75%" height="3%"></rect>
	<text x="93.5%" y="21.5%">=1</text>

	<!--	STEP 3-->
	<line class="step-3" x1="93.5%" y1="23%" x2="93.5%" y2="32%"></line>
	<rect class="step-3" x="91.625%" y="32%" width="3.75%" height="3%"></rect>


	<line class="step-3" x1="87.5%" y1="18%" x2="87.5%" y2="20%"></line>
	<line class="step-3" x1="9.5%" y1="20%" x2="87.5%" y2="20%"></line>
	<line class="step-3" x1="9.5%" y1="20%" x2="9.5%" y2="30%"></line>
	<line class="step-3" x1="7.5%" y1="7%" x2="7.5%" y2="30%"></line>
	<rect class="step-3" x="6.625%" y="30%" width="3.75%" height="3%"></rect>
	<text x="8.5%" y="31.5%">&#x2265;1</text>

	<!--	STEP 4-->
	<line class="step-4" x1="8.5%" y1="33%" x2="8.5%" y2="38%"></line>
	<line class="step-4" x1="8.5%" y1="38%" x2="93.5%" y2="38%"></line>
	<line class="step-4" x1="6.5%" y1="40%" x2="6.5%" y2="44%"></line>
	<line class="step-4" x1="0%" y1="40%" x2="91.5%" y2="40%"></line>
	<line class="step-4" x1="8.5%" y1="42%" x2="8.5%" y2="44%"></line>
	<line class="step-4" x1="0%" y1="42%" x2="8.5%" y2="42%"></line>
	<rect class="step-4" x="5.625%" y="44%" width="3.75%" height="3%"></rect>
	<text x="7.5%" y="45.5%">&</text>
	<line class="step-4" x1="91.5%" y1="40%" x2="91.5%" y2="48%"></line>
	<line class="step-4" x1="93.5%" y1="38%" x2="93.5%" y2="48%"></line>
	<rect class="step-4" x="90.625%" y="48%" width="3.75%" height="3%"></rect>
	<text x="92.5%" y="49.5%">=1</text>

	<!--STEP 5-->
	<line class="step-5" x1="92.5%" y1="51%" x2="92.5%" y2="60%"></line>
	<line class="step-5" x1="86.5%" y1="55%" x2="86.5%" y2="53%"></line>
	<line class="step-5" x1="88.5%" y1="53.8%" x2="92.5%" y2="53.8%"></line>
	<line class="step-5" x1="88.5%" y1="55%" x2="88.5%" y2="53.8%"></line>
	<line class="step-5" x1="86.5%" y1="53%" x2="100%" y2="53%"></line>
	<rect class="step-5" x="85.625%" y="55%" width="3.75%" height="3%"></rect>
	<text x="87.5%" y="56.5%">&</text>
	<line class="step-5" x1="94.5%" y1="53%" x2="94.5%" y2="60%"></line>
	<rect class="step-5" x="91.625%" y="60%" width="3.75%" height="3%"></rect>
	<text x="93.5%" y="61.5%">=1</text>

	<!--	STEP 6-->
	<line class="step-6" x1="87.5%" y1="58%" x2="87.5%" y2="60%"></line>
	<line class="step-6" x1="9.5%" y1="60%" x2="87.5%" y2="60%"></line>
	<line class="step-6" x1="7.5%" y1="47%" x2="7.5%" y2="70%"></line>
	<line class="step-6" x1="93.5%" y1="63%" x2="93.5%" y2="72%"></line>
	<rect class="step-6" x="91.625%" y="72%" width="3.75%" height="3%"></rect>
	<line class="step-6" x1="9.5%" y1="60%" x2="9.5%" y2="70%"></line>
	<rect class="step-6" x="6.625%" y="70%" width="3.75%" height="3%"></rect>
	<text x="8.5%" y="71.5%">&#x2265;1</text>

	<!--	STEP 7-->
	<line class="step-7" x1="8.5%" y1="73%" x2="8.5%" y2="90%"></line>
	<rect class="step-7" x="6.625%" y="90%" width="3.75%" height="3%"></rect>
</svg>

<!--X-Postionswerte-->
<!--links-->
<!--	ebene 1-->
<!--		in1: 6.5%-->
<!--		in2: 8.5%-->
<!--		out: 7.5%-->
<!--		gatter: 5.625%-->
<!--	ebene 2-->
<!--		in1: 7.5%-->
<!--		in2: 9.5%-->
<!--		out: 7.5%-->
<!--		gatter: 6.625%-->

<!--links-->
<!--	ebene 1-->
<!--		in1: 91.5%-->
<!--		in2: 93.5%-->
<!--		out: 92.5%-->
<!--		gatter: 90.625%-->
<!--	ebene -1 -->
<!--		in1: 86.5%-->
<!--		in2: 88.5%-->
<!--		out: 87.5%-->
<!--		gatter: 85.625%-->
<!--	ebene 1-->
<!--		in1: 92.5%-->
<!--		in2: 94.5%-->
<!--		out: 93.5%-->
<!--		gatter: 91.625%-->

