@import "themes";
@import "variables";

.part-1{

}

.part-2{
	top: 1600px;
}

svg {
	left: 0;
	position: absolute;
	width: 100%;
	height: 250vh;
	font-size: 1.5rem;
	text-anchor: middle;

	@include themify() {
		stroke: themed('primary');
	}
	stroke-width: 1px;
	fill: none;

	@media (max-width: 1200px) {
		display: none;
	}
}

text{
	alignment-baseline: middle;
	stroke: none;
	@include themify() {
		fill: themed('primary');
	}
}
