@import "themes";

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 400px;
	@media (max-width: 767px) {
		width: 100%;
		padding: 0;
	}
	padding: 2rem;

	button {
		padding: 0.7rem;
	}

	&:first-child{
		padding-top: 1rem;
	}

	.error {
		margin-top: 0;
		padding-left: 1rem;
		font-size: 10pt;
		color: red;
	}
}
