<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<div class="input-container">
		<input class="input" [class.invalid]="newCompForm.controls.email.touched && newCompForm.controls.email.invalid"
			   type="text" formControlName="email" id="register-email" required>
		<label class="label" for="register-email">Email</label>
	</div>

	<div class="input-container">
		<input class="input"
			   [class.invalid]="newCompForm.controls.password.touched && newCompForm.controls.password.invalid"
			   type="password" formControlName="password" id="register-password" required>
		<label class="label" for="register-password">Password</label>
	</div>

	<div class="input-container">
		<input class="input"
			   [class.invalid]="newCompForm.controls.username.touched && newCompForm.controls.username.invalid"
			   type="text"
			   formControlName="username" id="register-username" required>
		<label class="label" for="register-username">Username</label>
	</div>

	<br>

	<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

	<button type="submit" class="btn-raised primary form-button" [disabled]="newCompForm.invalid">REGISTER</button>
</form>
