<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<h3> Please sign in </h3>
	<div class="input-container">
		<input [class.invalid]="newCompForm.controls.user.touched && newCompForm.controls.user.invalid"
			   type="text" formControlName="user" id="login-user" required>
		<label for="login-user">Username / Email</label>
	</div>
	<div class="input-container">
		<input
			[class.invalid]="newCompForm.controls.password.touched && newCompForm.controls.password.invalid"
			type="password" formControlName="password" id="login-password" required>
		<label for="login-password">Password</label>
	</div>

	<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid">LOGIN</button>

	<div class="login-divider">
		<hr>
		<div>
			or
		</div>
		<hr>
	</div>

	<div class="social-media-login">
		<button class="btn-raised primary social-button google" (click)="loginGoogle()">
			GOOGLE
			<img class="btn-raised secondary"  src="assets/icons/dark/google.svg" alt="google login icon">
		</button>
		<button class="btn-raised primary social-button twitter" (click)="loginTwitter()">
			TWITTER
			<img class="btn-raised secondary" src="assets/icons/dark/twitter.svg" alt="twitter login icon">
		</button>
	</div>
</form>
