<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<label class="label" for="login-user">Username / Email</label>
	<input class="input" [class.invalid]="newCompForm.controls.user.touched && newCompForm.controls.user.invalid" type="text" formControlName="user" id="login-user" required>

	<label class="label" for="login-password">Password</label>
	<input class="input" [class.invalid]="newCompForm.controls.password.touched && newCompForm.controls.password.invalid" type="password" formControlName="password" id="login-password" required>
	<br>

	<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

	<button type="submit" class="btn-raised primary form-button" [disabled]="newCompForm.invalid">LOGIN</button>
</form>
