<div class="page">
	<section class="introduction">
		<article>
			<h3>Was ist Logigator</h3>
			<p>
				Logigator ist eine Diplomarbeit der HTL 3 Rennweg, die sich zum Ziel gesetzt hat ein Werkzeug zu
				schaffen, mit dem logische Gatter gebaut und simuliert werden können. Die Idee entstand nachdem die auf
				dem Markt verfügbaren Produkte, unseren Wunsch nach einem intuitiven, skalierbaren und performanten
				Tool, nicht oder nur teilweise
				befriedigen konnten.
			</p>
		</article>
		<a href="https://editor.logigator.com/" target="_blank" rel="noopener"><button>ZUM EDITOR</button></a>
	</section>
	<hr>
	<section class="explanation">
		<iframe width="560" height="315" src="" frameborder="0"
		        title="video-home"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		<article>
			<h3>Eine kurze Erklärung</h3>
			<p>
				Wenn Sie sich jetzt Fragen was logische Gatter überhaupt sind, dann ist das ganz normal. Kurzgesagt sind
				logische Gatter jene Bausteine mit aus denen die Recheneinheiten eines Computers aufgebaut sind. Aber
				weil das als Erklärung nicht reicht und sie vermutlich keinen mehrseitigen Artikel lesen möchten haben
				wir ein Video animiert in dem die Grundprinzipen unserer Diplomarbeit verständlich erklärt werden.
			</p>
		</article>
	</section>
	<hr>
	<section>
		<app-examples></app-examples>
	</section>
	<hr>
	<section>
		<app-tutorials></app-tutorials>
	</section>
</div>

