@import "themes";
@import "variables";

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: none;

	hr {
		@media (min-width: 1200px) {
			display: none;
		}
	}

	@include themify() {
		color: themed('text-primary');
		hr {
			width: 70%;
			border-top: 0;
			border-right: 0;
			border-left: 0;
			border-bottom: 1.5px solid themed('primary');
		}
	}
}

.content-section {
	max-width: 960px;
	width: 100%;
	height: 40vh;
	padding: 5vh 5% 5vh;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	z-index: 0;

	@media (max-width: 1200px) {
		height: auto;
		padding: 2rem;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 2rem;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 0;
		@media (max-width: 767px) {
			margin: 1rem;
		}
		font-weight: normal;
		font-size: 2rem;
	}

	app-examples {
		width: 100%;
	}
}

section:last-child {
	padding-bottom: 0;
}

.introduction {
	height: 50vh;
	padding: 10vh 5% 5vh;

	@media (max-width: 1200px) {
		height: auto;
		padding: 2rem;
	}

	article {
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	button {
		width: 45%;
		align-self: flex-end;
		@media (max-width: 767px) {
			width: 100%;
		}
		height: 3rem;
	}
}

.explanation {
	height: 50vh;

	@media (max-width: 1200px) {
		height: auto;
		padding: 2rem;
	}

	article {
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.iframe-container-container {
		width: 50%;
		position: relative;
		margin-right: 2rem;

		@media (max-width: 767px) {
			width: 100%;
			margin-right: 0;
		}
	}

	.iframe-container {
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}

	.iframe-container iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.examples {
	height: 50vh;
	padding: 10vh 5% 5vh;

	@media (max-width: 1200px) {
		height: auto;
		padding: 2rem;
	}
}

.tutorials {
	height: 100vh;
	align-items: normal;

	@media (max-width: 1200px) {
		height: auto;
		padding: 2rem;
	}
}


