@import "themes";

section{
	@include themify() {
		background-color: themed('accent1');
		color: themed('text');
	}

	width: 100%;
	padding: 7rem;

	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
