<div class="tutorial">
	<div class="iframe-container-container">
		<div class="iframe-container">
			<!--<iframe width="560" height="340" appLazyLoad dataSrc="" frameborder="0" title="video-tutorial1"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen>
			</iframe>-->
			<img *ngIf="theme === 'dark'" dataSrc="/assets/comingsoon_dark.png" appLazyLoad alt="placeholder-image for a soon coming video">
			<img *ngIf="theme === 'light'" dataSrc="/assets/comingsoon_light.png" appLazyLoad alt="placeholder-image for a soon coming video">
		</div>
	</div>
	<article>
		<h3>{{'HOME.TUTORIALS.LAYOUT.TITLE' | translate}}</h3>
		<p>{{'HOME.TUTORIALS.LAYOUT.DESCRIPTION' | translate}}</p>
	</article>
</div>
<div class="tutorial">
	<div class="iframe-container-container">
		<div class="iframe-container">
			<!--<iframe width="560" height="340" appLazyLoad dataSrc="" frameborder="0" title="video-tutorial2"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>-->
			<img *ngIf="theme === 'dark'" dataSrc="/assets/comingsoon_dark.png" appLazyLoad alt="placeholder-image for a soon coming video">
			<img *ngIf="theme === 'light'" dataSrc="/assets/comingsoon_light.png" appLazyLoad alt="placeholder-image for a soon coming video">
		</div>
	</div>
	<article>
		<h3>{{'HOME.TUTORIALS.EDIT_MODE.TITLE' | translate}}</h3>
		<p>{{'HOME.TUTORIALS.EDIT_MODE.DESCRIPTION' | translate}}</p>
	</article>
</div>
<div class="tutorial">
	<div class="iframe-container-container">
		<div class="iframe-container">
			<!--<iframe width="560" height="340" appLazyLoad dataSrc="" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen>
			</iframe>-->
			<img *ngIf="theme === 'dark'" dataSrc="/assets/comingsoon_dark.png" appLazyLoad alt="placeholder-image for a soon coming video">
			<img *ngIf="theme === 'light'" dataSrc="/assets/comingsoon_light.png" appLazyLoad alt="placeholder-image for a soon coming video">
		</div>
	</div>
	<article>
		<h3>{{'HOME.TUTORIALS.SIMULATION_MODE.TITLE' | translate}}</h3>
		<p>{{'HOME.TUTORIALS.SIMULATION_MODE.DESCRIPTION' | translate}}</p>
	</article>
</div>
