<div class="tutorial">
	<div class="iframe-container-container">
		<div class="iframe-container">
<!--			<iframe width="560" height="340" src="https://www.youtube.com/embed/udFxKZRyQt4" frameborder="0" title="video-tutorial1"-->
<!--					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--					allowfullscreen>-->
<!--			</iframe>-->
			<img *ngIf="theme === 'dark'" src="/assets/comingsoon_dark.jpg">
			<img *ngIf="theme === 'light'" src="/assets/comingsoon_light.jpg">
		</div>
	</div>
	<article>
		<h3>{{'HOME.TUTORIALS.LAYOUT.TITLE' | translate}}</h3>
		<p>{{'HOME.TUTORIALS.LAYOUT.DESCRIPTION' | translate}}</p>
	</article>
</div>
<div class="tutorial">
	<div class="iframe-container-container">
		<div class="iframe-container">
			<!--<iframe width="560" height="340" src="" frameborder="0" title="video-tutorial2"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>-->
			<img *ngIf="theme === 'dark'" src="/assets/comingsoon_dark.jpg">
			<img *ngIf="theme === 'light'" src="/assets/comingsoon_light.jpg">
		</div>
	</div>
	<article>
		<h3>{{'HOME.TUTORIALS.EDIT_MODE.TITLE' | translate}}</h3>
		<p>{{'HOME.TUTORIALS.EDIT_MODE.DESCRIPTION' | translate}}</p>
	</article>
</div>
<div class="tutorial">
	<div class="iframe-container-container">
		<div class="iframe-container">
			<!--<iframe width="560" height="340" src="" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen>
			</iframe>-->
			<img *ngIf="theme === 'dark'" src="/assets/comingsoon_dark.jpg">
			<img *ngIf="theme === 'light'" src="/assets/comingsoon_light.jpg">
		</div>
	</div>
	<article>
		<h3>{{'HOME.TUTORIALS.SIMULATION_MODE.TITLE' | translate}}</h3>
		<p>{{'HOME.TUTORIALS.SIMULATION_MODE.DESCRIPTION' | translate}}</p>
	</article>
</div>
