<form [formGroup]="newPasswordForm" (ngSubmit)="submit()" autocomplete="off" *ngIf="!showSuccessMessage; else changeSuccess">
	<logi-input type="password" formControlName="password" label="{{'POPUP.CHANGE_PASSWORD.PASSWORD' | translate}}">
		<logi-input-error error="required">{{'POPUP.CHANGE_PASSWORD.PASSWORD_ERR_REQUIRED' | translate}}</logi-input-error>
		<logi-input-error error="minlength">{{'POPUP.CHANGE_PASSWORD.PASSWORD_ERR_MIN' | translate}}</logi-input-error>
		<logi-input-error error="pattern">{{'POPUP.CHANGE_PASSWORD.PASSWORD_ERR_COMPLEXITY' | translate}}</logi-input-error>
	</logi-input>
	<logi-input type="password" formControlName="confirm_password" label="{{'POPUP.CHANGE_PASSWORD.PASSWORD_REPEAT' | translate}}">
		<logi-input-error *ngIf="newPasswordForm.errors?.passwordMatch">{{'POPUP.CHANGE_PASSWORD.PASSWORD_REPEAT_ERR' | translate}}</logi-input-error>
	</logi-input>

	<p class="error">{{errorMessage}}</p>

	<button type="submit" class="btn-raised primary" [disabled]="newPasswordForm.invalid">{{'POPUP.CHANGE_PASSWORD.SAVE_BUTTON' | translate}}</button>
</form>

<ng-template #changeSuccess>
<div class="success">
	<h3>{{'POPUP.CHANGE_PASSWORD.SUCCESS' | translate}}</h3>
	<button type="button" class="btn-raised primary" (click)="close()">{{'POPUP.CHANGE_PASSWORD.SUCCESS_OK_BUTTON' | translate}}</button>
</div>
</ng-template>
