<div class="features">
	<div class="feature">
		<app-feature [head]="'FEATURES.WHAT_IS.TITLE' | translate" [imgSrc]="'FEATURES.WHAT_IS.VIDEO' | translate">
			<span [innerHTML]="'FEATURES.WHAT_IS.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.GENERAL.TITLE' | translate" [imgSrc]="'FEATURES.GENERAL.VIDEO' | translate">
			<span [innerHTML]="'FEATURES.GENERAL.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.CUSTOM_COMPS.TITLE' | translate" [imgSrc]="'FEATURES.CUSTOM_COMPS.VIDEO' | translate">
			<span [innerHTML]="'FEATURES.CUSTOM_COMPS.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.SIMULATION.TITLE' | translate" [imgSrc]="'FEATURES.SIMULATION.VIDEO' | translate">
			<span [innerHTML]="'FEATURES.SIMULATION.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.SAVING.TITLE' | translate" [imgSrc]="'FEATURES.SAVING.VIDEO' | translate">
			<span [innerHTML]="'FEATURES.SAVING.TEXT' | translate"></span>
		</app-feature>
	</div>
</div>
