<div class="features">
	<div class="feature">
		<app-feature [head]="'FEATURES.WHAT_IS.TITLE' | translate" imgSrc="/assets/video_comming_soon.png">
			<span [innerHTML]="'FEATURES.WHAT_IS.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.GENERAL.TITLE' | translate" imgSrc="/assets/video_comming_soon.png">
			<span [innerHTML]="'FEATURES.GENERAL.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.CUSTOM_COMPS.TITLE' | translate" imgSrc="/assets/video_comming_soon.png">
			<span [innerHTML]="'FEATURES.CUSTOM_COMPS.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.SIMULATION.TITLE' | translate" imgSrc="/assets/video_comming_soon.png">
			<span [innerHTML]="'FEATURES.SIMULATION.TEXT' | translate"></span>
		</app-feature>
	</div>
	<div class="feature">
		<app-feature [head]="'FEATURES.SAVING.TITLE' | translate" imgSrc="/assets/video_comming_soon.png">
			<span [innerHTML]="'FEATURES.SAVING.TEXT' | translate"></span>
		</app-feature>
	</div>
</div>
