<div class="dropdown" [class.hidden]="!showDropDown">
	<div class="switch">
		<label>{{'OPTIONS.DARK_MODE' | translate}}</label>
		<logi-switch [checked]="this.theming.currentTheme === 'dark'" (click)="changeTheme()"></logi-switch>
	</div>
	<hr>
	<div class="select">
		<label>{{'OPTIONS.LANGUAGE' | translate}}</label>
		<select [(ngModel)]="currentLang" (ngModelChange)="languageChange()">
			<option value="en">{{'LANGUAGE.EN' | translate}}</option>
			<option value="de">{{'LANGUAGE.DE' | translate}}</option>
		</select>
	</div>
	<ng-container *ngIf="isLoggedIn">
		<hr>
		<div class="link">
			<button class="btn-outline secondary small" routerLink="/my" (click)="close()">{{'OPTIONS.USERSPACE' | translate}}</button>
		</div>
		<hr>
		<div class="link">
			<button class="btn-outline secondary small" routerLink="/my" (click)="logout()">{{'OPTIONS.LOGOUT' | translate}}</button>
		</div>
	</ng-container>
</div>
