<div class="dropdown" [class.hidden]="!showDropDown">
	<div class="switch item">
		<label>{{'OPTIONS.DARK_MODE' | translate}}</label>
		<logi-switch [checked]="this.theming.currentTheme === 'dark'" (click)="changeTheme()"></logi-switch>
	</div>
	<div class="select item">
		<label>{{'OPTIONS.LANGUAGE' | translate}}</label>
		<select [(ngModel)]="currentLang" (ngModelChange)="languageChange()">
			<option value="en">{{'LANGUAGE.EN' | translate}}</option>
			<option value="de">{{'LANGUAGE.DE' | translate}}</option>
		</select>
	</div>
	<ng-container *ngIf="isLoggedIn">
		<hr>
		<a class="link item" routerLink="/my/projects" (click)="close()">
			<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/archive.svg">
			<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/archive.svg">
			{{'OPTIONS.PROJECTS' | translate}}
		</a>
		<a class="link item" routerLink="/my/components" (click)="close()">
			<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/archive.svg">
			<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/archive.svg">
			{{'OPTIONS.COMPONENTS' | translate}}
		</a>
		<hr>
		<a class="link item" routerLink="/my/settings" (click)="close()">
			<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/user.svg">
			<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/user.svg">
			{{'OPTIONS.ACCOUNT' | translate}}
		</a>
		<a class="link item" (click)="logout()">
			<img *ngIf="currentTheme === 'dark'" src="/assets/icons/dark/logout.svg">
			<img *ngIf="currentTheme === 'light'" src="/assets/icons/light/logout.svg">
			{{'OPTIONS.LOGOUT' | translate}}
		</a>
	</ng-container>
</div>
