<form [formGroup]="newCompForm" (ngSubmit)="submit()">
	<h3> Crop image</h3>
	<div class="image-cropper-container">
		<image-cropper
			[imageFile]="imageFile"
			[maintainAspectRatio]="true"
			[aspectRatio]="1"
			[resizeToWidth]="512"
			format="jpeg"
			outputType="file"
			(loadImageFailed)="onCropperFail()"
			(imageCropped)="onCrop($event)"
			[onlyScaleDown]="true"
			[class.hidden]="!imageFile">
		</image-cropper>
	</div>
	<h3> Upload image </h3>
	<app-file-input formControlName="fileInput"></app-file-input>

	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid && newCompForm.controls.cropper.value">Submit</button>
</form>
