@import "themes";
@import "variables";

footer {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: $footer-height;

	@include themify() {
		background-color: themed('primary');
	}

	a {
		text-decoration: none;
		@include themify() {
			color: themed('text-primary');
			&:hover {
				color: themed('hover');
			}
		}
	}

}
