@import "themes";
@import "variables";

footer {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: $footer-height;

	@include themify() {
		background-color: themed('primary');
	}

	a {
		text-decoration: none;
		color: black;

		&:hover {
			text-decoration: underline;
		}

	}

}
