@import "themes";

.download-platform {
	display: flex;
	padding: 2rem;
	margin-bottom: 2rem;

	@include themify() {
		background-color: themed('accent2');
	}

	.platform-img {
		width: 150px;
		flex-shrink: 0;
		text-align: center;

		img {
			width: 80%;
		}
	}
}

.archs {
	width: 100%;
	padding-left: 2rem;

	.arch {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;

		@include themify() {
			border-bottom: border('width') solid themed('background');
		}

		p {
			margin: 0;
		}

		.name {
			margin-bottom: 0.2rem;
		}

		.filename {
			width: 45%;

			@media screen and (max-width: 1200px) {
				width: unset;
			}

		> * {
			width: 100%;
		}

			.name {
				font-size: 24px;
			}

			.size-and-date-md {
				display: none;
				margin-top: 0.5rem;

				@media screen and (max-width: 1200px) {
					display: block;
				}
			}
		}

		.download-button button {
			font-size: 20px;
		}

		@media screen and (max-width: 1200px) {
			.file-size, .date {
				display: none;
			}
		}

		&:nth-of-type(1) {
			padding-top: 1rem;
		}

		&:last-of-type {
			border-bottom: none !important;
			padding-bottom: 0;
		}
	}
}
