<div class="impressum">
    <p>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.</p>
    <p>Stefan Mikulik</p>
    <p>Höhere technische Bundeslehranstalt Wien 3,<br>Rennweg 89b,&nbsp;<br>1030 Wien,<br>Österreich</p>
    <p><strong>E-Mail:</strong>&nbsp;<a href="mailto:business@logigator.com">business@logigator.com</a></p>
    <p>Quelle: Erstellt&nbsp;mit dem&nbsp;<a rel="noreferrer noopener" href="https://www.firmenwebseiten.at/impressum-generator/" target="_blank">Impressum Generator von firmenwebseiten.at</a>&nbsp;in Kooperation mit&nbsp;<a rel="noreferrer noopener" href="https://www.movetec.at/" target="_blank">movetec.at</a></p>
    <h3>Haftung für Inhalte dieser Webseite</h3>
    <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wurden.</p>
    <p>Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitten wir Sie uns umgehend zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</p>
    <h3>Haftung für Links auf dieser Webseite</h3>
    <p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht laut&nbsp;<a href="https://www.ris.bka.gv.at/Dokument.wxe?Abfrage=Bundesnormen&amp;Dokumentnummer=NOR40025813&amp;tid=221100654" target="_blank" rel="noreferrer noopener">§ 17 ECG</a>&nbsp;für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.</p>
    <p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitten wir Sie uns zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</p>
    <h3>Urheberrechtshinweis</h3>
	<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
</div>
