<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<app-input type="text" formControlName="username" label="{{'POPUP.CHANGE_USERNAME.USERNAME' | translate}}">
		<app-input-error error="required">{{'POPUP.CHANGE_USERNAME.USERNAME_ERR_REQUIRED' | translate}}</app-input-error>
		<app-input-error error="minlength">{{'POPUP.CHANGE_USERNAME.USERNAME_ERR_MIN' | translate}}</app-input-error>
		<app-input-error error="maxlength">{{'POPUP.CHANGE_USERNAME.USERNAME_ERR_MAX' | translate}}</app-input-error>
	</app-input>

	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid">{{'POPUP.CHANGE_USERNAME.SAVE_BUTTON' | translate}}</button>
</form>
