@import "../form-dialog";

form {
	min-width: 400px;
	width: initial;
	max-width: 100%;

	.textarea {
		min-width: 400px;
		margin-bottom: 2rem;
		@include themify(){
			background-color: themed('background');
			border: 1px solid themed('text-primary');
			color: themed('text-primary');
		}
	}
}
