<div class="info">
	<div class="item">
		<p>Name:</p>
		<p>{{project.name}} ({{project.symbol}})</p>
	</div>
	<hr>
	<div class="item">
		<p>Created:</p>
		<p>{{project.created_on}}</p>
	</div>
	<div class="item">
		<p>Modified:</p>
		<p>{{project.last_edited}}</p>
	</div>
	<hr>
	<div class="item">
		<p>Inputs:</p>
		<p>{{project.num_inputs}}</p>
	</div>
	<div class="item">
		<p>Outputs:</p>
		<p>{{project.num_outputs}}</p>
	</div>
	<hr>
	<div class="item description">
		<p>Description:</p>
		<p>{{project.description}}</p>
	</div>
</div>
