<div class="info">
	<img [src]="apiPath + '/images/thumbnails/' + project.location">
	<div class="item">
		<p>{{'POPUP.COMP_INFO.NAME' | translate}}:</p>
		<p>{{project.name}}</p>
	</div>
	<hr>
	<div class="item">
		<p>{{'POPUP.COMP_INFO.CREATED' | translate}}:</p>
		<p>{{project.created_on | date:'medium'}}</p>
	</div>
	<div class="item">
		<p>{{'POPUP.COMP_INFO.MODIFIED' | translate}}:</p>
		<p>{{project.last_edited | date:'medium'}}</p>
	</div>
	<hr>
	<div class="item description">
		<p>{{'POPUP.COMP_INFO.DESCRIPTION' | translate}}:</p>
		<p>{{project.description}}</p>
	</div>
</div>
