@import "variables";
@import "themes";

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
	margin: ($header-height / 2) 0 0 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: Roboto, Nunito, Arial, sans-serif;
}

@include themify() {
	* {
		color: themed('text-primary');
	}

	.btn-primary {
		background-color: themed('primary');
		border-radius: 0.25rem;
		-webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
		padding: 0.5rem 0.75rem;
		border: none;
	}

	.btn-secondary {
		background-color: themed('accent1');
		border-radius: 0.25rem;
		-webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
		padding: 0.5rem 0.75rem;
		border: 1px solid themed('primary');
	}
}
