@import "themes";

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 400px;
	@media (max-width: 767px) {
		width: 100%;
		padding: 0;
	}
	padding: 2rem;
	margin: auto;

	button {
		padding: 0.7rem;
	}

	h3 {
		font-weight: normal;
		font-size: 2rem;
		text-align: center;
		margin-top: 0;
	}

	.error {
		margin-top: 0;
		padding-left: 1rem;
		font-size: 10pt;
		color: red;
	}

	.login-divider {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		.divider {
			width: 42%;
			@include themify {
				border-bottom: 1px solid themed('secondary-text');
			}
		}
	}

	.social-media-login {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.social-button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 45%;
			color: white;

			img {
				padding: 0 0 0 1rem;
				box-shadow: none;
			}
		}

		.google {
			background-color: #ea4335;

			img {
				background-color: #ea4335;
			}
		}

		.twitter {
			background-color: #1da1f2;

			img {
				background-color: #1da1f2;
			}
		}


	}
}
