<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<logi-input type="text" formControlName="name" [label]="'POPUP.PROJECT_EDIT.NAME' | translate">
		<logi-input-error error="required">{{'POPUP.PROJECT_EDIT.NAME_ERR_REQUIRED' | translate}}</logi-input-error>
		<logi-input-error error="minlength">{{'POPUP.PROJECT_EDIT.NAME_ERR_MIN' | translate}}</logi-input-error>
		<logi-input-error error="maxlength">{{'POPUP.PROJECT_EDIT.NAME_ERR_MAX' | translate}}</logi-input-error>
		<logi-input-error error="pattern">{{'POPUP.PROJECT_EDIT.NAME_ERR_PATTERN' | translate}}</logi-input-error>
	</logi-input>

	<label for="project-edit-description">{{'POPUP.PROJECT_EDIT.DESCRIPTION' | translate}}</label>
	<textarea class="textarea" [class.invalid]="newCompForm.controls.description.touched && newCompForm.controls.description.invalid"
			  type="text" formControlName="description" id="project-edit-description" rows="6" cols="40"></textarea>
	<ng-container *ngIf="newCompForm.controls.description.errors as errors">
		<p *ngIf="errors.maxlength" class="invalid">{{'POPUP.PROJECT_EDIT.DESCRIPTION_ERR_MAX' | translate}}</p>
	</ng-container>


	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid">{{'POPUP.PROJECT_EDIT.SAVE' | translate}}</button>
</form>
