@import "themes";
@import "../form-dialog";

form {
	width: initial;
	max-width: 100%;

	.textarea {
		min-width: 400px;
		@media (max-width: 767px) {
			min-width: 100%;
			max-width: 100%;
		}

		margin-bottom: 2rem;
		@include themify(){
			background-color: themed('background');
			border: 1px solid themed('text-primary');
			color: themed('text-primary');
		}
	}
}
