<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<label for="change-password-password">Password</label>
	<input [class.invalid]="newCompForm.controls.password.touched && newCompForm.controls.password.invalid" type="password" name="password" id="change-password-password" formControlName="password" required>
	<br>

	<label for="change-password-password-repeat">Repeat Password</label>
	<input [class.invalid]="newCompForm.controls.passwordRepeat.touched && newCompForm.errors" type="password" name="password-repeat" id="change-password-password-repeat" formControlName="passwordRepeat" required>
	<br>

	<ul>
		<ng-container *ngIf="newCompForm.controls.password.touched">
			<ng-container *ngIf="newCompForm.controls.password.errors as errors">
				<li *ngIf="errors.minlength">Password must be at least 8 characters long.</li>
				<li *ngIf="errors.pattern">Password must contain at least one letter and one number.</li>
			</ng-container>
		</ng-container>
		<ng-container *ngIf="newCompForm.controls.passwordRepeat.touched">
			<ng-container *ngIf="newCompForm.errors as errors">
				<li *ngIf="errors.passwordMatch">Passwords do not match.</li>
			</ng-container>
		</ng-container>
	</ul>

	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid">Submit</button>
</form>
