<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<label for="change-password-password">Password</label>
	<input type="password" name="password" id="change-password-password" formControlName="password">
	<br>

	<label for="change-password-password-repeat">Repeat Password</label>
	<input [class.invalid]="newCompForm.get('passwordRepeat').invalid" type="password" name="password-repeat" id="change-password-password-repeat" formControlName="passwordRepeat">
	<br>

	<button type="submit" [disabled]="newCompForm.invalid">Create</button>
</form>
