form {
	display: flex;
	flex-direction: column;

	input {
		font: initial;
		border: none;
	}

	.invalid {
		outline: red 1px solid;
	}

	ul {
		margin-top: 0;
		padding-left: 1rem;
		font-size: 10pt;
		color: red;
	}
}
