<form [formGroup]="newCompForm" (ngSubmit)="submit()" autocomplete="off">
	<app-input type="password" formControlName="password" label="{{'POPUP.CHANGE_PASSWORD.PASSWORD' | translate}}">
		<app-input-error error="required">{{'POPUP.CHANGE_PASSWORD.PASSWORD_ERR_REQUIRED' | translate}}</app-input-error>
		<app-input-error error="minlength">{{'POPUP.CHANGE_PASSWORD.PASSWORD_ERR_MIN' | translate}}</app-input-error>
		<app-input-error error="pattern">{{'POPUP.CHANGE_PASSWORD.PASSWORD_ERR_COMPLEXITY' | translate}}</app-input-error>
	</app-input>
	<app-input type="password" formControlName="confirm_password" label="{{'POPUP.CHANGE_PASSWORD.PASSWORD_REPEAT' | translate}}">
		<app-input-error *ngIf="newCompForm.errors?.passwordMatch">{{'POPUP.CHANGE_PASSWORD.PASSWORD_REPEAT_ERR' | translate}}</app-input-error>
	</app-input>

	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid">{{'POPUP.CHANGE_PASSWORD.SAVE_BUTTON' | translate}}</button>
</form>
