@import "themes";

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 767px) {
		width: 100%;
		padding: 1rem;
	}
	padding: 2rem 5rem;

	>:last-child {
		padding: 0.7rem;
	}

	.error {
		margin-top: 0;
		padding-left: 1rem;
		font-size: 10pt;
		color: red;
	}
}
