@import "themes";

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 767px) {
		width: 100%;
		padding: 1rem;
	}
	padding: 2rem 5rem;

	>:last-child {
		padding: 0.7rem;
	}

	.error {
		font-size: 1rem;
		margin-top: 0;
		@include themify() {
			color: themed('error');
		}
	}
}

.success {
	margin: 1rem;

	h3 {
		font-size: 1.6rem;
		margin-bottom: 0.5rem;
	}

	p {
		margin-top: 1rem;
	}
}
